* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
}

a, img {
    border: 0;
}

body {
    font: 12px/normal "microsoft yahei";
}

.selectbox {
    width: 1000px;
    height: 220px;
    margin: 20px auto;
}

.selectbox div {
    float: left;
}

.selectbox .select-bar {
    padding: 0 20px;
}

.selectbox .select-bar select {
    width: 200px;
    height: 200px;
    border: 1px #A0A0A4 solid;
    padding: 4px;
    font-size: 14px;
}

.btn-bar {

}

.btn-bar p {
    margin-top: 40px;
}

.btn-bar p .btn {
    width: 50px;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    vertical-align: middle;
    margin-top: 0;
    background: #fff;
    border: #999 solid 1px;
    border-radius: 3px;
    min-height: 12px;
    min-width: 12px;
}

input[type="checkbox"]:checked {
    background: #3190e8;
}

input[type="checkbox"]:checked::after {
    content: '';
    top: 3px;
    left: 3px;
    position: absolute;
    background: transparent;
    border: #fff solid 2px;
    border-top: none;
    border-right: none;
    height: 6px;
    width: 10px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}