{% extends 'index.html' %}
{% block en %}
    {% load pagination_tags %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>数据管理</title>
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/elegant-icons-style.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/static/css/bootstrap.css"/>
        <link rel="stylesheet" href="/static/css/style2.css"/>

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/echarts.common.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
    </head>
    <body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/toHome/">主页</a></li>
                    <li><i class="fa fa-link" aria-hidden="true"></i>知识存储</li>
                </ol>
            </div>

            {% if tempList %}
            <div class="col-md-12">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        Neo4j数据上传：
                    </header>
                    <div class="panel-body">

                        <form name="data" method="post" action="/importNeo4jMuilt/">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning btn-sm doProModify"
                                    style="text-align:center; font-size:15px; float: left;" name="upload">
                                批量导入Neo4j
                            </button>
                            <a href="{% url 'deleteAllNeo4j' %}">
                                <button class="btn btn-danger" type="button"
                                        onclick="return confirm('是否确认全部删除？');"
                                        style="float: right; margin-right: 45px">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除所有数据
                                </button>
                            </a>
                            <div class="show-list" style="position: relative;top: 30px; text-align: center">

                                <table style="width: 1100px" class="table table-bordered table-hover" align="center"
                                       border="solid 3px">
                                    <thead>
                                    <tr align="center" class="text-danger">
                                        <th align="center" width="50" class="text-center" style="font-size: 16px">
                                            批量
                                        </th>
                                        <th align="center" width="150" class="text-center" style="font-size: 16px">
                                            头实体
                                        </th>
                                        <th align="center" width="100" class="text-center" style="font-size: 16px">
                                            头实体类型
                                        </th>
                                        <th align="center" width="150" class="text-center" style="font-size: 16px">
                                            尾实体
                                        </th>
                                        <th align="center" width="100" class="text-center" style="font-size: 16px">
                                            尾实体类型
                                        </th>
                                        <th align="center" width="100" class="text-center" style="font-size: 16px">
                                            关系类别
                                        </th>
                                        <th align="center" width="250" class="text-center" style="font-size: 16px">
                                            用户操作
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody id="tb">
                                    {% autopaginate tempList 5 %}
                                    {% for list in tempList %}
                                        <tr>
                                            <td><input id="box" name="boxList" style="zoom:180%" type="checkbox"
                                                       value="{{ list.temp_id }}" onclick="checkonebox()"/></td>
                                            <td align="center"
                                                style="display:table-cell; vertical-align:middle; font-size: 15px">{{ list.headEntity }}</td>
                                            <td align="center"
                                                style="display:table-cell; vertical-align:middle; font-size: 15px">{{ list.headEntityType }}</td>
                                            <td align="center"
                                                style="display:table-cell; vertical-align:middle; font-size: 15px">{{ list.tailEntity }}</td>
                                            <td align="center"
                                                style="display:table-cell; vertical-align:middle; font-size: 15px">{{ list.tailEntityType }}</td>
                                            <td align="center"
                                                style="display:table-cell; vertical-align:middle; font-size: 15px">{{ list.relationshipCategory }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'importNeo4j' %}?temp_id={{ list.temp_id }}">
                                                    <input type="button" style=" font-size: 15px"
                                                           class="btn btn-warning btn-sm doProModify"
                                                           data-toggle="modal"
                                                           value="导入Neo4j"/>
                                                </a>
                                                <a href="{% url 'deleteNeo4j' %}?temp_id={{ list.temp_id }}">
                                                    <button class="btn btn-danger" type="button"
                                                            onclick="return confirm('是否确认删除？');">
                                                        <span class="glyphicon glyphicon-remove"
                                                              aria-hidden="true"></span> Delete
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                                {% paginate %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="col-md-12">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        Neo4j数据库下载：
                    </header>
                    <div class="panel-body" style="text-align: center">
                        <form name="download" enctype="multipart/form-data" method="post" action="/download/">
                            {% csrf_token %}
                            <button type="submit"
                                    style="background-color:#8fd19e; width: 200px;height: 36px; text-align: center"
                                    name="download">
                                下载neo4j数据库到本地
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="footers">
                <span style="color: white;">© 2020 东北大学-数字线技术项目团队 版权所有</span>
            </div>
        </div>
    </div>

    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>
{% endblock en %}