<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录页面</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/mycss.css"/>
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background: #fff url(/static/img/back.jpg)  0 no-repeat; ">

<!-- 使用自定义css样式 div-signin 完成元素居中-->
<div class="container div-signin" style="width: 800px; top: 300px">
    <div class="panel panel-primary div-shadow">
        <!-- h3标签加载自定义样式，完成文字居中和上下间距调整 -->
        <div class="panel-heading">
            <h3>航空领域知识图谱管理系统 V1.0</h3>
            <span>Knowledge Map Management System of Aviation Field V1.0</span>
        </div>
        <div class="panel-body" style="width: 800px">
            <!-- login form start -->
            <form action="/login/" class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-3 control-label">用户名：</label>
                    <div class="col-sm-5">
                        <input class="form-control" type="text" placeholder="请输入用户名" name="username"
                               value={{ username }}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                    <div class="col-sm-5">
                        <input class="form-control" type="password" placeholder="请输入密码" name="password"
                               value={{ password }}>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9 padding-left-0">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-block" value="Login">登&nbsp;&nbsp;录
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button type="reset" class="btn btn-primary btn-block">重&nbsp;&nbsp;置</button>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-primary btn-block" href="/register/">注&nbsp;&nbsp;册</a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- login form end -->
        </div>
    </div>
</div>
{% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}

</body>
</html>